KNN-For predicting Whether the child is a senior or junior

In [5]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [6]:
dataset_train = pd.read_csv('train.csv')
dataset_test = pd.read_csv('test.csv')
dataset_train

     shoe size     height    class
0     8.518110  73.029460  seniors
1    10.301527  68.959677  seniors
2     7.386575  73.558042  seniors
3     9.477281  68.195558  seniors
4    10.910389  75.144672  seniors
..         ...        ...      ...
445   6.790728  56.506263   fourth
446   6.671880  51.081101   fourth
447   6.904876  59.823496   fourth
448   6.281759  56.523309   fourth
449   6.407946  54.540642   fourth

[450 rows x 3 columns]

In [9]:
zero_not_accepted=['shoe size','height']
for column in zero_not_accepted:
    dataset_train[column]=dataset_train[column].replace(0, np.NaN)
    mean1=int(dataset_train[column].mean(skipna=True))
    dataset_train[column]=dataset_train[column].replace(np.NaN,mean1)
    dataset_test[column]=dataset_test[column].replace(0, np.NaN)
    mean2=int(dataset_test[column].mean(skipna=True))
    dataset_test[column]=dataset_test[column].replace(np.NaN,mean2)

In [13]:
X_train = dataset_train.iloc[:,0:2]
Y_train = dataset_train.iloc[:,2]
X_test = dataset_test.iloc[:,0:2]
Y_test = dataset_test.iloc[:,2]

In [14]:
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.fit_transform(X_test)

In [15]:
import math
math.sqrt(len(Y_train))

21.213203435596427

In [17]:
classifer = KNeighborsClassifier (n_neighbors = 21 , p = 2 ,metric = 'euclidean')
classifer.fit(X_train,Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=21)

In [18]:
Y_pred = classifer.predict(X_test)

In [19]:
CM = confusion_matrix(Y_test,Y_pred)
print(CM)
print(accuracy_score(Y_test,Y_pred))

[[75  0]
 [ 1 74]]
0.9933333333333333